<ion-header>
  <ion-navbar>
    <ion-title>main</ion-title>
    <div class="right">
      <!--<ion-icon name="settings" (click)="gotoProfile()"></ion-icon>-->
      <ion-icon name="settings" (click)="gotoSetting()"></ion-icon>
      <ion-icon name="contacts" (click)="gotoFriend()"></ion-icon>
      <ion-icon name="log-out" (click)="user.logout()"></ion-icon>
    </div>
  </ion-navbar>
</ion-header>

<ion-content>
  <!--
  <form (ngSubmit)="submitPost()">
    <ion-avatar item-start>
      <img class="md-icon" src="{{user.data.avatar}}">
    </ion-avatar>
    <b>
      {{user.data.name}}
    </b>
    <ion-input [(ngModel)]="msg" name="msg"></ion-input>
    <button ion-button>
      submit
    </button>
  </form>
  <ion-card *ngFor="let new of displayNew; let i of index">
    <ion-card-header *ngIf="user.user[user.post[new].userId] !== undefine">
      <ion-item>
        <ion-avatar item-start>
          <img class="md-icon" src="{{user.user[user.post[new].userId].avatar}}">
        </ion-avatar>
        <p>
          <b>
            {{user.user[user.post[new].userId].name}}
          </b>
        </p>
        <p>
          <span *ngIf="user.post[new].time.getDate() < 10">0</span>{{user.post[new].time.getDate()}}/<span *ngIf="user.post[new].time.getMonth() < 9">0</span>{{user.post[new].time.getMonth() + 1}}/<span>{{user.post[new].time.getFullYear()}}</span>
          <span *ngIf="user.post[new].time.getHours() < 10">0</span>{{user.post[new].time.getHours()}}:<span *ngIf="user.post[new].time.getMinutes() < 10">0</span>{{user.post[new].time.getMinutes()}}
        </p>
      </ion-item>
      <div class="right">
        <ion-icon name="menu"></ion-icon>
      </div>
      <span *ngIf="user.post[new].image !== undefine">
        {{user.post[new].image.length}} image
      </span>
    </ion-card-header>
    <ion-list>
      <p class="msg">
        {{user.post[new].msg}}
      </p>
      <ion-item>
        <div *ngIf="user.post[new].like !== undefine">
          <button ion-button (click)="viewLiked(new)">
            {{user.post[new].like.length}}
          </button>
          <button ion-button color="primary" *ngIf='user.post[new].like.indexOf(user.data.userId) === -1' (click)="user.like(user.post[new].userId, new, user.post[new].like)">
            like
          </button>
          <button ion-button color="secondary" *ngIf='user.post[new].like.indexOf(user.data.userId) !== -1' (click)="user.unlike(user.post[new].userId, new, user.post[new].like)">
            like
          </button>
          <button ion-button *ngIf="user.post[new].userId !== user.data.userId && user.friendActiveList.indexOf(user.post[new].userId) === -1 && user.friendInactiveList.indexOf(user.post[new].userId) === -1" (click)="user.addFriend(user.post[new].userId)">
            +
          </button>
        </div>
        <div *ngIf="user.post[new].like === undefine">
          <button ion-button *ngIf="user.post[new].like === undefine" (click)="viewLiked(user.post[new].postId)">
            0
          </button>
          <button ion-button (click)="user.like(user.post[new].userId, new, user.post[new].like)">
            like
          </button>
          <button ion-button *ngIf="user.post[new].userId !== user.data.userId && user.friendActiveList.indexOf(user.post[new].userId) === -1 && user.friendInactiveList.indexOf(user.post[new].userId) === -1" (click)="user.addFriend(user.post[new].userId)">
            +
          </button>
        </div>
      </ion-item>
    </ion-list>
  </ion-card>
-->
</ion-content>
