<ion-content>
  <div class="header">
    <ion-icon name="arrow-round-back" (click)="goback()"></ion-icon>
  </div>
  <div class="container">
    <ion-item *ngIf="userId === user.userId">
      <ion-avatar item-start (click)="changeAvatar()">
        <img class="md-icon" src="{{user.data[user.userId].avatar}}">
      </ion-avatar>
      <b>
        {{user.data[user.userId].name}}
      </b>
      <textarea (click)="gotoPost()"></textarea>
    </ion-item>
    <ion-card *ngFor="let displayData of displayList; let i of index">
      <span *ngIf="displayData.display === true">
        <ion-card-header *ngIf="user.data[post.detail[displayData.postId].userId] !== undefine">
          <ion-item>
            <ion-avatar item-start>
              <img class="md-icon" src="{{user.data[userId].avatar}}">
            </ion-avatar>
            <p>
              <b>
                {{user.data[userId].name}}
              </b>
            </p>
            {{post.detail[displayData.postId].time | date: "yyyy/MM/dd HH:mm"}}
            <ion-icon class="right" name="menu" (click)="thisPostOption($event, displayData.postId)" *ngIf="user.userId === userId"></ion-icon>
          </ion-item>
          <span *ngIf="post.detail[displayData.postId].image.length > 0">
            {{image.detail[post.detail[displayData.postId].image[0]]}}
          </span>
        </ion-card-header>
        <ion-list>
          <p class="msg" (click)="gotoDetail(displayData.postId)">
            {{post.detail[displayData.postId].msg}}
          </p>
          <ion-item>
            <span *ngIf="post.detail[displayData.postId].like !== undefine">
              <button ion-button color="primary" *ngIf='post.detail[displayData.postId].like.indexOf(user.userId) === -1' (click)="post.like(user.userId, displayData.postId)">
                {{post.detail[displayData.postId].like.length}}
              </button>
              <button ion-button color="secondary" *ngIf='post.detail[displayData.postId].like.indexOf(user.userId) !== -1' (click)="post.unlike(user.userId, displayData.postId)">
                {{post.detail[displayData.postId].like.length}}
              </button>
            </span>
            <span *ngIf="post.detail[displayData.postId].like === undefine">
              <button ion-button color="primary" (click)="post.like(user.userId, displayData.postId)">
                0
              </button>
            </span>
            <span>
              <button ion-button *ngIf="userId !== user.userId && friend.active.indexOf(userId) === -1 && friend.inactive.indexOf(userId) === -1" (click)="user.addFriend(user.userId, userId)">
                +
              </button>
            </span>
          </ion-item>
        </ion-list>
      </span>
    </ion-card>
    <button ion-button (clic)="loadMore()" *ngIf="(page - 1) * postPerLoad < post.list.length">
      Xem thêm
    </button>
  </div>
</ion-content>