<ion-content>
  <div class="header">
    <span>
      trò chuyện
    </span>
    <span>
      thư viện
    </span>
    <span>
      duyệt tin
    </span>
    <span>
      thông báo
    </span>
  </div>
  <div class="content">
    <ion-list *ngIf="display === true">
      <ion-item color="primary">
        Thông tin cá nhân
      </ion-item>
      <ion-item>
        <ion-avatar item-start>
          <img class="md-icon" src="{{user.data[user.userId].avatar}}" (click)="changeAvatar()">
        </ion-avatar>
        <p>
          {{user.data[user.userId].name}}
        </p>
      </ion-item>
      <ion-item>
        {{user.data[user.userId].describe}}
      </ion-item>
      <ion-item color="primary">
        Danh sách đội bóng
      </ion-item>
      <ion-item *ngFor="let groupId of groupList">
        <ion-avatar item-start>
          <img class="md-icon" src="{{group.data[groupId].avatar}}">
        </ion-avatar>
        <p>
          {{group.data[groupId].name}}
        </p>
      </ion-item>
      <ion-item color="primary">
        Sự kiện gần đây
      </ion-item>
      <ion-item *ngFor="let eventData of eventList">
          <ion-avatar item-start>
            <img class="md-icon" src="{{group.data[eventData.id].avatar}}">
          </ion-avatar>
          <p>
            {{group.data[eventData.id].name}}
          </p>
        </ion-item>
    </ion-list>
  </div>
</ion-content>
