<ion-content>
  <div class="header">
    <ion-icon name="arrow-round-back" (click)="goback()"></ion-icon>  
  </div>
  <div class="container">
    <ion-card *ngIf="postId === ''">
      <ion-card-header>
        <ion-item>
          <ion-avatar item-start>
            <img class="md-icon" src="{{user.data[user.userId].avatar}}">
          </ion-avatar>
          <P>
            {{user.data[user.userId].name}}
          </P>
          <p>
            {{time | date: "yyyy/MM/dd HH:mm"}}
          </p>
        </ion-item>
      </ion-card-header>
      <ion-list>
        <form (onSubmit)="checkPostContent()">
          <ion-textarea class="max" [(ngModel)]="msg" name="msg" rows="5"></ion-textarea><br/>
          <button ion-button (click)="checkPostContent()">
            post bài
          </button>
          <ion-icon ion-button name="images" (click)="selectImageToPost()"></ion-icon>
        </form>
      </ion-list>
    </ion-card>
    <ion-card *ngIf="postId !== ''">
      <ion-card-header>
        <ion-item>
          <ion-avatar item-start>
            <img class="md-icon" src="{{user.data[user.userId].avatar}}">
          </ion-avatar>
          <P>
            {{user.data[user.userId].name}}
          </P>
          <p>
            {{time | date: "yyyy/MM/dd HH:mm"}}
          </p>
        </ion-item>
      </ion-card-header>
      <ion-list>
        <form (onSubmit)="checkPostContent()">
          <ion-textarea class="max" [(ngModel)]="msg" name="msg" rows="5"></ion-textarea><br/>
          <button ion-button (click)="checkPostContent()">
            post bài
          </button>
          <button ion-button (click)="selectImageToPost()">
            chọn ảnh
          </button>
        </form>
      </ion-list>
    </ion-card>
  </div>
</ion-content>
