<ion-menu side="right" [content]="reolu">
	<ion-content>
		<ion-list *ngIf="user.data !== undefine">
      <div *ngIf="user.data.userId !== undefine">
        <ion-item>
          <ion-avatar item-start>
            <img src="{{user.data.avatar}}">
          </ion-avatar>
          <b>
            {{user.data.name}}
          </b>
          <p>online</p>
        </ion-item>
  			<ion-item (click)="user.logout()">
  				đăng xuất
  			</ion-item>
      </div>
		</ion-list>
	</ion-content>
</ion-menu>

<ion-nav #reolu [root]="rootPage"></ion-nav>
