<ion-content>  
  <div class="header">
    <ion-icon name="arrow-round-back" (click)="goback()"></ion-icon>
  </div>
  <div class="container">
    <ion-list>
      <ion-item color="primary">
        Người dùng đã theo dõi
      </ion-item>
      <div *ngFor="let objectId of friend.user; let i = index">
        <ion-item *ngIf="i < userNumber">
          <ion-avatar item-start>
            <img src="{{user.data[objectId].avatar}}">
          </ion-avatar>
          <p>
            {{user.data[objectId].name}}
          </p>
          <button ion-button (click)="friend.unfollow(objectId)">
            bỏ theo dõi
          </button>
        </ion-item>
      </div>
      <button ion-button (click)="loadMoreUser()" *ngIf="userNumber < friend.user.length">
        Xem thêm
      </button>
      <ion-item color="primary">
        Nhóm đã theo dõi
      </ion-item>
      <div *ngFor="let objectId of friend.group; let i = index">
        <ion-item *ngIf="i < userNumber">
          <ion-avatar item-start>
            <img src="{{group.data[objectId].avatar}}">
          </ion-avatar>
          <p>
            {{group.data[objectId].name}}
          </p>
          <button ion-button (click)="friend.unfollow(objectId)">
            bỏ theo dõi
          </button>
        </ion-item>
      </div>
      <button ion-button (click)="loadMoreGroup()" *ngIf="groupNumber < friend.group.length">
        Xem thêm
      </button>
    </ion-list>
  </div>
</ion-content>
