<ion-header>
  <ion-navbar>
    <ion-title>bạn bè</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item color="primary">
      yêu cầu kết bạn
    </ion-item>
    <ion-item *ngFor="let friendId of user.friendInactiveList">
      <ion-avatar item-start>
        <img src="{{user.user[friendId].avatar}}">
      </ion-avatar>
      <b>
        {{user.user[friendId].name}}
      </b>
      <p>
        <span ion-button (click)="user.acceptFriend(friendId)">
          đồng ý
        </span>
        <span ion-button (click)="user.deleteFriendRequest(friendId)">
          từ chối
        </span>
      </p>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item color="primary">
      danh sách bạn
    </ion-item>
    <ion-item *ngFor="let friendId of user.friendActiveList">
      <ion-avatar item-start>
        <img src="{{user.user[friendId].avatar}}">
      </ion-avatar>
      <b>
        {{user.user[friendId].name}}
      </b>
    </ion-item>
  </ion-list>
</ion-content>
