<ion-header>
  <ion-navbar>
    <ion-title> tùy chọn </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item color="primary">
      thư viện
    </ion-item>
    <ion-item (click)="gotoLibrary()">
      đổi avatar
    </ion-item>
    <ion-item (click)="gotoLibrary2()">
      Thư viện
    </ion-item>
  </ion-list>
  <ion-list *ngIf="user.username === ''">
    <ion-item color="primary">
      cập nhật thông tin người dùng
    </ion-item>
    <form>
      <ion-item>
        <ion-label col-3>
          người dùng
        </ion-label>
        <ion-input [(ngModel)]="username" type="text" name="username"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label col-3>
          mật khẩu
        </ion-label>
        <ion-input [(ngModel)]="password" type="password" name="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label col-3>
          xác nhận mật khẩu
        </ion-label>
        <ion-input [(ngModel)]="vpassword" type="password" name="vpassword"></ion-input>
      </ion-item>
      <button ion-button (click)="confirmAccount">
        cập nhật
      </button>
    </form>
  </ion-list>
  <ion-list *ngIf="user.username !== ''">
    <ion-item color="primary">
      cập nhật thông tin người dùng
    </ion-item>
    <form>
      <ion-item>
        <ion-label col-3>
          người dùng
        </ion-label>
        <ion-input [(ngModel)]="username" type="text" name="username"> {{user.data.username}} </ion-input>
      </ion-item>
      <ion-item>
        <ion-label col-3>
          tên hiển thị
        </ion-label>
        <ion-input [(ngModel)]="username" type="text" name="username"> {{user.data.name}} </ion-input>
      </ion-item>
      <ion-item>
        <ion-label col-3>
          mật khẩu
        </ion-label>
        <ion-input [(ngModel)]="password" type="password" name="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label col-3>
          xác nhận mật khẩu
        </ion-label>
        <ion-input [(ngModel)]="vpassword" type="password" name="vpassword"></ion-input>
      </ion-item>
      <button ion-button (click)="changeUserInfo()">
        cập nhật
      </button>
      <button ion-button (click)="resetForm()">
        đặt lại trường
      </button>
    </form>
  </ion-list>
</ion-content>
