<ion-content>
  <div class="header">
    <ion-icon name="arrow-round-back" (click)="goback()"></ion-icon>
  </div>
  <div class="container">
    <ion-card>
      <ion-card-header>
        <ion-item>
          <ion-avatar item-start>
            <img class="md-icon" src="{{user.data[postData.userId].avatar}}">
          </ion-avatar>
          <p>
            <b>
              {{user.data[postData.userId].name}}
            </b>
          </p>
          <p>
            {{postData.time | date: "yyyy/MM/dd HH:mm"}}
          </p>
          <ion-icon class="right" name="menu" (click)="thisPostOption($event, this.service.detailId)" *ngIf="user.userId === post.detail[service.detailId].userId"></ion-icon>
        </ion-item>
        <ion-slides *ngIf="postData.image !== undefined">
          <ion-slide *ngFor="let imageId of postData.image">
            <img src="{{image.detail[imageId]">
          </ion-slide>
        </ion-slides>
      </ion-card-header>
      <ion-list>
        <p class="msg">
          {{postData.msg}}
        </p>
        <ion-item>
          <span *ngIf="postData.like !== undefine">
            <button ion-button (click)="viewLiked(postData.like)">
              {{postData.like.length}}
            </button>
            <button ion-button color="primary" *ngIf='postData.like.indexOf(user.userId) === -1' (click)="post.like(postData.userId, user.detailId, postData.like)">
              like
            </button>
            <button ion-button color="secondary" *ngIf='postData.like.indexOf(user.userId) !== -1' (click)="post.unlike(postData.userId, user.detailId, postData.like)">
              like
            </button>
          </span>
          <span *ngIf="postData.like === undefine">
            <button ion-button>
              0
            </button>
            <button ion-button color="primary" (click)="post.like(postData.userId, user.detailId, postData.like)">
              like
            </button>
          </span>
          <span>
            <button ion-button *ngIf="postData.userId !== user.userId && friend.active.indexOf(postData.userId) === -1 && friend.inactive.indexOf(postData.userId) === -1" (click)="user.addFriend(postData.userId)">
              +
            </button>
          </span>
        </ion-item>
        <ion-item>
          <textarea name="commentMsg" [(ngModel)]="commentMsg"></textarea>
          <button ion-button (click)="commentPost(postData.comment, commentMsg)">
            bình luận
          </button>
        </ion-item>
        <div *ngFor="let commentData of comment; let i1 = index">
          <img class="md-icon" src="{{user.data[postData.userId].avatar}}">
          {{user.data[postData.userId].name}}
          <ion-icon class="right" name="menu" (click)="thisCommentOption($event, {msg: commentData.msg, postId: service.detailId, commentId: commentData.key})" *ngIf="user.userId === comment[i1].userId"></ion-icon>
          <p>
            {{commentData.time | date: "yyyy/MM/dd HH:mm"}}
          </p>
          <p>
            {{commentData.msg}}
          </p>
          <span *ngIf="commentData.like !== undefine">
            <button ion-button (click)="viewLiked(postData.comment[i1].like)">
              {{commentData.like.length}}
            </button>
            <button ion-button color="primary" *ngIf='commentData.like.indexOf(user.userId) === -1' (click)="post.likeComment(commentData.userId, service.detailId, i1, commentData.like)">
              like
            </button>
            <button ion-button color="secondary" *ngIf='commentData.like.indexOf(user.userId) !== -1' (click)="post.unlikeComment(commentData.userId, service.detailId, i1, commentData.like)">
              like
            </button>
          </span>
          <span *ngIf="commentData.like === undefine">
            <button ion-button>
              0
            </button>
            <button ion-button color="primary" (click)="post.likeComment(user.userId, service.detailId, i1, [])">
              like
            </button>
          </span>
          <span>
            <button ion-button *ngIf="postData.userId !== user.userId && friend.active.indexOf(user.userId) === -1 && friend.inactive.indexOf(commentData.userId) === -1" (click)="user.addFriend(commentData.userId)">
              +
            </button>
          </span>
          <!--
          <div *ngFor="let subcomment of comment.comment; let i1 = index">
              <img class="md-icon" src="{{user.data[postData.userId].avatar}}">
              {{user.data[postData.userId].name}}
              <p>
                {{subcomment.time | date: "yyyy/MM/dd HH:mm"}}
              </p>
              <p>
                {{subcomment.msg}}
              </p>
              <span *ngIf="subcomment.like !== undefine">
                <button ion-button (click)="viewLiked(user.detailId)">
                  {{subcomment.like.length}}
                </button>
                <button ion-button color="primary" *ngIf='subcomment.like.indexOf(user.userId) === -1' (click)="post.like(subcomment.userId, user.detailId, subcomment.like)">
                  like
                </button>
                <button ion-button color="secondary" *ngIf='subcomment.like.indexOf(user.userId) !== -1' (click)="post.unlike(subcomment.userId, user.detailId, subcomment.like)">
                  like
                </button>
              </span>
              <span *ngIf="subcomment.like === undefine">
                <button ion-button>
                  0
                </button>
                <button ion-button color="primary" (click)="post.like(subcomment.userId, user.detailId, subcomment.like)">
                  like
                </button>
              </span>
              <span>
                <button ion-button *ngIf="postData.userId !== user.userId && friend.active.indexOf(subcomment.userId) === -1 && friend.inactive.indexOf(subcomment.userId) === -1" (click)="user.addFriend(subcomment.userId)">
                  +
                </button>
              </span>
            </div>          
          -->
        </div>
      </ion-list>
    </ion-card>
  </div>
</ion-content>
