<ion-content>
  <div class="header">
    <ion-icon name="arrow-round-back" (click)="goback()"></ion-icon>
  </div>
  <div class="container" *ngIf="display === true">
    <ion-card>
      <ion-item *ngIf="postData.type === 0">
        <ion-avatar item-start (click)="gotoProfile(postData.ownerId)">
          <img src="{{user.data[postData.ownerId].avatar}}">
        </ion-avatar>
        <p (click)="gotoProfile(postData.ownerId)">{{user.data[postData.ownerId].name}}</p>
        <p (click)="gotoProfile(postData.ownerId)">{{postData.time | date: "dd/MM/yyyy HH:mm"}}</p>
        <button ion-button color="primary" icon-left clear small
            *ngIf="postData.ownerId !== user.userId && friend.user.indexOf(postData.ownerId) === -1"
            (click)="friend.follow(user.userId, postData.ownerId, postData.type)">
          <ion-icon name="add"></ion-icon>
          <div>theo dõi</div>
        </button>
        <ion-icon class="right" name="menu" (click)="thisPostOption($event, postId)"
            *ngIf="user.userId === postData.ownerId"></ion-icon>
      </ion-item>
      <ion-item *ngIf="postData.type === 1">
        <ion-avatar item-start (click)="gotoGroup(postData.ownerId)">
          <img src="{{group.data[postData.ownerId].avatar}}">
        </ion-avatar>
        <p (click)="gotoGroup(postData.ownerId)">{{group.data[postData.ownerId].name}}</p>
        <p>{{postData.time | date: "dd/MM/yyyy HH:mm"}}</p>
        <button ion-button color="primary" icon-left clear small
            *ngIf="postData.ownerId !== user.userId && friend.group.indexOf(postData.ownerId) === -1"
            (click)="friend.follow(user.userId, postData.ownerId, postData.type)">
          <ion-icon name="add"></ion-icon>
          <div>theo dõi</div>
        </button>
        <ion-icon class="right" name="menu" (click)="thisPostOption($event, postId)"
            *ngIf="user.userId === group.data[postData.ownerId].userId
            || this.service.findIndex(member.list, groupId, 'groupId') !== -1"></ion-icon>
      </ion-item>
      <ion-slides *ngIf="postData.image !== undefined || postData.image !== []">
        <ion-slide *ngFor="let imageId of postData.image">
          <img class="image" src="{{image.data[imageId]}}" (click)="viewImage(image.data[imageId])">
        </ion-slide>
      </ion-slides>
      <ion-card-content>
        <p>{{postData.msg}}</p>
      </ion-card-content>
      <span *ngIf="postData.like.length > 0">
        <button ion-button color="primary" icon-left clear small
            *ngIf='this.service.findIndex(postData.like, user.userId, "userId") === -1'
            (click) ="post.like(user.userId, postId)">
          <ion-icon name="thumbs-up"></ion-icon>
          <div>{{postData.like.length}}</div>
        </button>
        <button ion-button color="secondary" icon-left clear small
            *ngIf='this.service.findIndex(postData.like, user.userId, "userId") !== -1'
            (click)="post.unlike(user.userId, postId)">
          <ion-icon name="thumbs-up"></ion-icon>
          <div>{{postData.like.length}}</div>
        </button>
      </span>
      <span>
        <button ion-button color="primary" icon-left clear small
            *ngIf="postData.like.length === 0" (click) ="post.like(user.userId, postId)">
        <ion-icon name="thumbs-up"></ion-icon>
        <div>0</div>
      </button>
      </span>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-textarea name="commentMsg" [(ngModel)]="commentMsg"></ion-textarea><br>
        <button ion-button (click)="commentPost(commentMsg)"><br/>
          bình luận
        </button>
      </ion-card-header>
      <div *ngFor="let commentData of comment; let i1 = index">
        <ion-item>
          <ion-avatar item-start (click)="gotoProfile(commentData.userId)">
            <img class="md-icon" src="{{user.data[commentData.userId].avatar}}">
          </ion-avatar>
          <p (click)="gotoProfile(commentData.userId)">
            {{user.data[commentData.userId].name}}
          </p>
          <p>
            {{commentData.time | date: "dd/MM/yyyy HH:mm"}}
          </p>
          <button ion-button color="primary" icon-left clear small
              *ngIf="commentData.userId !== user.userId && friend.user.indexOf(commentData.userId) === -1"
              (click) ="friend.follow(user.userId, commentData.userId, 0)">
            <ion-icon name="add"></ion-icon>
            <div>follow</div>
          </button>
        </ion-item>
        <ion-icon class="right" name="menu"
            (click)="thisCommentOption($event, {msg: commentData.msg, commentId: commentData.commentId})"
            *ngIf="user.userId === comment[i1].userId"></ion-icon>
        <p class="msg">
          {{commentData.msg}}
        </p>
      </div>
    </ion-card>
  </div>
</ion-content>
