<ion-header>
  <ion-navbar>
    <ion-icon *ngIf="this.files !== undefined" name="cloud-upload" (click)="uploadImage()"></ion-icon>
    <span *ngIf="this.selectedImages.length > 0">
      <ion-icon *ngIf="this.service.isSelect === true" name="checkmark" (click)="user.pickAvatar()"></ion-icon>
      <ion-icon *ngIf="this.service.multi === true" name="checkmark" (click)="selectImages(selectedImages[0])"></ion-icon>
    </span>
  </ion-navbar>
</ion-header>

<ion-content>
  <div>
    <label for="file">
      <img id="blah" class="md-icon" src="{{uploadButton}}">
      <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
      <input type="file" id="file" style="display:none" (change)="getFile()" multiple />
    </label>
  </div>
  <div *ngFor="let libraryList of library; let libraryIndex = index">
    <img class="md-icon" src="{{image[libraryList.list[0].imageId]}}" *ngIf="libraryList.list.length > 0" (click)="gotoLibrary(libraryIndex)">
    <img class="md-icon" src="{{uploadButton}}" *ngIf="libraryList.list.length === 0" (click)="gotoLibrary(libraryIndex)">
    <p>{{libraryList.name}}</p>
  </div>
  <span class="inline" *ngFor="let imageId of image.list">
    <img class="md-icon" src="{{image.detail[imageId]}}" *ngIf="selectedImages.indexOf(imageId) < 0" (click)="tickImage(imageId)">
    <img class="md-icon selected" src="{{image.detail[imageId]}}" *ngIf="selectedImages.indexOf(imageId) >= 0" (click)="untickImage(imageId)">
  </span>
  <p>
    {{displayLib.name}}
  </p>
  <p>
    {{displayLib.describe}}
  </p>
  <p>
    {{displayLib.time | date: "yyyy/MM/dd HH:mm"}}
  </p>
  <span *ngFor="let imageInfoList of displayLib.list">
    <img class="md-icon" src="{{image[imageInfoList.imageId]}}">
  </span>
</ion-content>
